<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %> <br>
  <hr>

  <strong>
    Events <%= @user.username %> is hosting
  </strong>
  <br>
  <% @events.each do |event| %>
    
    <strong>Event Name:</strong>
    <%= event.name %> <br>
    
    <strong>Location:</strong>
    <%= event.location %> <br>
    
    <strong>Date:</strong>
    <%= event.date %> <br>
  <% end %>
</p>


<%= link_to 'Back', users_path %>
