<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Host:</strong>
  <%= link_to @event.host.username, user_path(@event.host_id) %>
</p>

<p>
  <strong>Attendees: </strong>
  <%= @attendees.map { |attendee| attendee.username }.join(', ').html_safe %>
</p>

<% if logged_in? %>
  <%= link_to 'Attend', attend_event_path(@event), method: 'post' %> |
<% end %>
<%= link_to 'Back', events_path %>
